@import "../../styles.scss";

.lang {
  width: 65px;
  div {
    height: 20px;
    width: 2px;
    background-color: $color1;
  }
  span {
    color: #ffffff50;
    font-family: "Helvetica";
    font-weight: normal;
    cursor: pointer;
    @media screen and (max-width:768px){
      font-size: .9rem;
    }
  }
  .lang-active {
    color: #fff;
  }
}
