<footer class="container-fluid footer">
  <div class="row">
    <div class="col-12 col-sm-2 d-flex align-items-center justify-content-center footer-box1">
      <img routerLink="/home" src="../../../assets/img/logo.svg" alt="Vi--Ain">
    </div>
    <div class="col-12 col-sm-8 footer-box2">
      <div class="d-flex justify-content-between footer-box2-content">
      <div class="menu w-100 d-flex align-items-center justify-content-center">
        <ul class="d-flex flex-column flex-lg-row my-0 justify-content-between">
          <a routerLink="/home" href="#">
            <li class="">{{'headerhome' | translate}}</li>
          </a>
          <a routerLink="/mint" href="#">
            <li  class="">{{'headermint' | translate}}</li>
          </a>
          <a href="#" routerLink="/services">
            <li>{{'headerservices' | translate}}</li>
          </a>
          <a routerLink="/portfolio" href="#">
            <li>{{'headerPortafolio' | translate}}</li>
          </a>
          <a href="#" routerLink="/team">
            <li>{{'headerEquipo' | translate}}</li>
          </a>
          <!-- <a href="#" routerLink="/blogs">
            <li>{{'headerBlog' | translate}}</li>
          </a> -->
      </ul>
    </div>
    <div class="ms-4 d-flex align-items-center ">
      <a href="#up"><img src="../../../assets/img/arrow-up.svg" alt=""></a>
    </div>
    </div>

    </div>
    <div class="col-12 col-sm-2 d-flex  align-items-center justify-content-sm-end justify-content-center footer-box3">
      <div class="d-flex justify-content-between align-items-center footer-box3-lang">
        <app-lang></app-lang>
      </div>
    </div>
    <div class="col-12 text-center pb-3">
      <h6>Vi-ain’s 2022. All Rights Reserved.</h6>
    </div>

  </div>
</footer>
