<div class="swiper sliderTeam1">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <app-team-item
        namel="bayron"
        name="bayron"
        name2="hernandez"
        rank="CEO"
        in="in"
        inlink="https://www.linkedin.com/in/j-bayron-hern%C3%A1ndez-l%C3%B3pez-6178a223a"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        name="danny"
        namel="danny"
        name2="ramirez"
        rank="Project Manager"
        in="in"
        inlink="https://www.linkedin.com/in/danny-ramirez-636890161/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="kamila"
        name="kamila"
        name2="florez"
        rank="Marketing Director"
        in="in"
        inlink="https://www.linkedin.com/in/mar%C3%ADa-kamila-fl%C3%B3rez-bernal-491281115"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="paula"
        name="paula"
        name="paula"
        name2="medina"
        rank="CSO"
        in="in"
        inlink="https://www.linkedin.com/in/paula-medina-38b131248"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="camila"
        name="camila"
        name2="Ramirez"
        rank="DISEÑADORA"
        in="in"
        inlink="https://co.linkedin.com/in/macamilaramirez"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="david"
        name="david"
        name2="Sanchez"
        rank="ILUSTRADOR"
        in="in"
        inlink="https://co.linkedin.com/in/david-s%C3%A1nchez-b%C3%A1ez-a30b26179"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="felipe"
        name="felipe"
        name2="Rodas"
        rank="COMMUNITY MANAGER"
        in="in"
        inlink="https://www.linkedin.com/in/felipe-rodas-bedoya"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="felo"
        name="Andres"
        name2="Lozano"
        rank="ILUSTRADOR"
        in="in"
        inlink="www.linkedin.com/in/andresfello"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="johan"
        name="johan"
        name2="Arce"
        rank="ABOGADO"
        in="in"
        inlink="https://www.linkedin.com/in/johan-david-arce-g%C3%B3mez-49b937124"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="jorge1"
        name="jorge"
        name2="arias"
        rank="DISEÑADOR"
        in="in"
        inlink="https://www.linkedin.com/in/jorge-arias-a5804155/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="jorge2"
        name="jorge"
        name2="perez"
        rank="DESARROLLADOR WEB"
        in="in"
        inlink="https://www.linkedin.com/in/jorge-luis-perez-12b1b9231/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="sebastian"
        name="Sebastian"
        name2="Escobar"
        rank="DIRECTOR CREATIVO"
        in="in"
        inlink="https://www.linkedin.com/in/sebastian-escobar-hoyos/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="alejandra"
        name="alejandra"
        name2="Molina "
        rank="ILUSTRADORA"
        in="in"
        inlink="#"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="kelvis"
        name="kelvis"
        name2="Savino"
        rank="FINANCIERO"
        in="in"
        inlink="https://www.linkedin.com/in/kelvissavino"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="laura"
        name="laura"
        name2="Duque"
        rank="ILUSTRADORA"
        in="in"
        inlink="https://www.linkedin.com/in/laura-duque-lozano-a6a568145/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="luisa"
        name="luisa"
        name2="Sierra"
        rank="DIRECTORA CREATIVA DE CONTENIDOS"
        in="in"
        inlink="https://www.linkedin.com/in/luisa-fernanda-sierra-garc%C3%ADa-613a05126/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="mateo"
        name="mateo"
        name2="Villada "
        rank="AUDIOVISUAL"
        in="in"
        inlink="https://www.linkedin.com/in/mateo-villada-jaramillo-a5369a240/"
      ></app-team-item>
    </div>
    <div class="swiper-slide">
      <app-team-item
        namel="santiago"
        name="santiago"
        name2="Carvajal"
        rank="Content Manager"
        in="in"
        inlink="https://www.linkedin.com/in/santiago-carvajal-89012a204"
      ></app-team-item>
    </div>
  </div>
</div>
