<div class="portfolio">
  <div class="row web-seccion1 position-relative">
    <div class="portfolio-banner-bg px-0">
      <app-header></app-header>

      <div class="row portfolio-banner">
        <div
          class="portfolio-banner-box1 col-12 col-lg-6 d-flex align-items-center justify-content-center position-relative"
        >
          <div class="">
            <h2>
              {{ "portfolio.title1" | translate }}<br />
              {{ "portfolio.title2" | translate }}<br />
              {{ "portfolio.title3" | translate }}
              <img
                class="img-title"
                src="../../../../assets/img/portfolio/{{logo}}"
                alt=""
              />
            </h2>
            <div class="d-flex position-absolute icons-stacks-banner">
              <div
                class="d-flex flex-column justify-content-center align-items-center text-center"
              >
                <img
                  src="../../../../assets/img/icons/web-development.svg"
                  alt="Web Deveploment"
                />
                <p>
                  {{ "portfolio.web.stack1" | translate }}
                </p>
              </div>
              <div
                class="d-flex flex-column justify-content-center align-items-center text-center"
              >
                <img
                  src="../../../../assets/img/icons/design.svg"
                  alt="Product Design"
                />
                <p>
                  {{ "portfolio.web.stack2" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-banner-box2 col-12 col-lg-6 d-flex justify-content-center align-items-center position-relative"
        >
          <div class="d-flex justify-content-center">
            <img
              src="../../../../assets/img/portfolio/web/{{company}}1.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- SECCION 1 -->
    <div class="col-12 position-relative">
      <h2 class="campaign">{{ "portfolio.web.compaign" | translate }}</h2>
      <p class="campaign-p text-center">
        {{ "portfolio.web."+company+".desc1" | translate }}
      </p>
    </div>
    <img
      class="campaign-img"
      src="../../../../assets/img/portfolio/web/{{company}}2.png"
      alt="{{alt}}"
    />

    <div class="col-12 d-flex flex-column align-items-center">
      <h2>{{ "portfolio.web.alcance" | translate }}</h2>
      <div class="stacks">
        <div class="stacks-all d-flex justify-content-between">
          <div
            class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
          >
            <img src="../../../../assets/img/icons/vue.js.svg" alt="Vue jS" />
            <h5 class="text-center">
              {{ "portfolio.web.stackt3" | translate }}
            </h5>
          </div>
          <div
            class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
          >
            <img src="../../../../assets/img/icons/code.svg" alt="Blockchain" />
            <h5 class="text-center">
              {{ "portfolio.web.stackt4" | translate }}
            </h5>
          </div>
          <div
            class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="../../../../assets/img/icons/design.svg"
              alt="Product Design"
            />
            <h5 class="text-center">
              {{ "portfolio.web.stack2" | translate }}
            </h5>
          </div>
        </div>
        <div
          class="stacks-info d-flex justify-content-between align-items-center"
        >
          <div
            class="stacks-info-box d-flex justify-content-center align-items-center"
          >
            <span>16.5K</span>
            <p>
              {{ "portfolio.web.hour" | translate }}
            </p>
          </div>
          <div
            class="stacks-info-box d-flex justify-content-center align-items-center"
          >
            <span>12</span>
            <p>{{ "portfolio.web.profesionales" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row web-seccion2">
    <div class="col-12 text-center">
      <h2>{{ "portfolio.web.reto" | translate }}</h2>
      <p>
        {{ "portfolio.web."+company+".reto" | translate }}
      </p>
    </div>
    <img
      src="../../../../assets/img/portfolio/web/{{company}}3.png"
      alt="{{alt}}"
    />
  </div>
  <div class="row web-seccion3 d-flex align-items-end">
    <div class="col-12">
      <h2>{{ "portfolio.web.proceso" | translate }}</h2>
      <p>
        {{ "portfolio.web."+company+".proceso" | translate }}
      </p>
    </div>
  </div>
  <div class="row web-seccion4 position-relative d-flex align-items-center">
    <div
      class="web-seccion4-stacks position-absolute d-flex justify-content-center"
    >
      <div
        class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
      >
        <img src="../../../../assets/img/icons/design.svg" alt="Design" />
      </div>
      <div
        class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
      >
        <img src="../../../../assets/img/icons/logo-d.svg" alt="{{alt}}" />
      </div>
      <div
        class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
      >
        <img
          src="../../../../assets/img/icons/web-development.svg"
          alt="Web Development"
        />
      </div>
      <div
        class="stacks-all-box d-flex flex-column justify-content-center align-items-center"
      >
        <img src="../../../../assets/img/icons/graphic.svg" alt="Graphic" />
      </div>
    </div>
    <div class="col-12">
      <h2>{{ "portfolio.web.resultado" | translate }}</h2>
      <p>
        {{ "portfolio.web."+company+".resultado" | translate }}
      </p>
    </div>
  </div>

  <div class="web-seccion5-bg">
    <div class="web-seccion5 d-flex align-content-center">
      <div
        class="web-seccion5-content d-flex justify-content-center align-items-center"
      >
        <div
          class="web-seccion5-box1 d-flex justify-content-center align-items-center"
        >
          <div class="item-dates d-flex align-items-center">
            <div class="me-3">
              <h6 class="">Paula<br />Medina</h6>
              <span>CSO</span>
            </div>
            <div class="item-dates-img">
              <img src="../../../../assets/img/team/paula.png" alt="Paula" />
            </div>
          </div>
        </div>
        <div
          class="web-seccion5-box2 d-flex flex-column justify-content-center ms-0 ms-md-5"
        >
          <p>
            {{ "portfolio.web.paula" | translate }}
          </p>
          <a href="#">{{ "home.section6.btn" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100">
  <app-partners></app-partners>
</div>
