<div class="row mx-0 d-flex align-items-center justify-content-evenly partners">
  <div class="col-12 col-sm-6 col-lg-3 d-flex  justify-content-center align-items-center partners-h4">
    <h4>ALIANZAS</h4>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 d-flex  justify-content-center align-items-center ">
    <img class="partners-img1" src="../../../assets/img/binance.svg" alt="Binance">
  </div>
  <div class="col-12 col-sm-6 col-lg-3 d-flex  justify-content-center align-items-center ">
    <img class="partners-img2" src="../../../assets/img/landian2.svg" alt="Landian">
  </div>
  <div class="col-12 col-sm-6 col-lg-3 d-flex  justify-content-center align-items-center ">
    <img class="partners-img3" src="../../../assets/img/nutso.svg" alt="Nutso">
  </div>
</div>
