<div class="swiper stack-slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper d-flex align-items-center">
    <!-- Slides -->
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/vue.js.svg" alt="Vue.Js">
        <span>{{'services.desarrollo.title' | translate}} Vue.Js</span>
          </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/ruby.svg" alt="Ruby">
      <span>{{'services.desarrollo.ruby' | translate}}</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/flutter.svg" alt="Fluttler">
      <span>{{'services.desarrollo.title' | translate}} Flutter </span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/react-native.svg" alt="React Native">
      <span>
        {{'services.desarrollo.title' | translate}} React Native</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/react.svg" alt="React.Js">
      <span>{{'services.desarrollo.title' | translate}} React.js</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/elixir.svg" alt="Node.Js">
      <span>{{'services.desarrollo.node' | translate}}</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/elixir.svg" alt="Elixir">
      <span>{{'services.desarrollo.title' | translate}} Elixir</span>
        </div>
    </div>

    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/go.svg" alt="Go">
      <span>{{'services.desarrollo.title' | translate}}
        GO</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/pwa.svg" alt="PWA">
      <span>{{'services.desarrollo.title' | translate}}
        PWA</span>
        </div>
    </div>
    <div class="swiper-slide">
      <div>
      <img src="../../../../assets/img/icons/python.svg" alt="Python">
      <span>{{'services.desarrollo.title' | translate}} Python</span>
        </div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
