<div class="mx-0 w-100 home-section-6">
  <div class="row home-section-6-container position-relative">
  <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start home-section-6-box1">
    <div class="d-flex flex-column justify-content-center justify-content-lg-start">
      <h4 class="home-section-6-box1-h4 text-center text-lg-start">{{rank1}}</h4>
      <h2 class="home-section-6-box1-h2 text-center text-lg-start">{{name1}} <br class="d-none d-lg-block">{{name2}}</h2>
      <h6 class="text-center text-lg-start">{{rank2}}</h6>
      <p class="text-center text-lg-start">{{desc}}
      </p>

      <a class="home-section-6-box1-btn" class="btn" target="_blank" href="{{link}}">LINKEDIN</a>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-end home-section-6-box2">
      <div class="d-flex flex-column align-items-center  position-relative home-section-6-box2-img ">
         <img src="../../../assets/img/team/{{name1}}.png" alt="{{name1}} {{name2}}">
      </div>
  </div>
</div>
</div>

