<div class="top-menu w-100">
  <ul class="d-flex align-items-center list-unstyled mb-0">
    <a href="#" class="btn">
      <li>{{'blog.menu.1' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.2' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.3' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.4' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.5' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.6' | translate}}</li>
    </a>
    <a href="#">
      <li>{{'blog.menu.7' | translate}}</li>
    </a>
  </ul>
</div>
