.top-menu {
  background-color: #a789ce33;
  backdrop-filter: brightness(1.25);
  ul {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0.85rem 0;
    a {
      margin-right: 2.5rem;
      &:first-child {
        background-color: #a789ce59;
        backdrop-filter: brightness(1.05);

      }
    }
    @media screen and (max-width: 767px) {
      display: grid !important;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      grid-gap: 1.2rem;

    }
    @media screen and (max-width: 560px) {
      display: grid !important;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      grid-gap: 1.2rem;
      a{
        margin: 0 auto;
      }
    }
  }
}
