<div class="swiper swiperTeam">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <!-- NUMERO 1 -->
    <div class="swiper-slide">
      <div class="mx-0 w-100 home-section-6">
      <div class="row home-section-6-container position-relative">
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start home-section-6-box1">
        <div class="d-flex flex-column justify-content-center justify-content-lg-start">
          <h4 class="home-section-6-box1-h4 text-center text-lg-start">{{'team.rank' | translate}}</h4>
          <h2 class="home-section-6-box1-h2 text-center text-lg-start">Bayron <br class="d-none d-lg-block">Hernandez</h2>
          <h6 class="text-center text-lg-start">COO</h6>
          <p class="text-center text-lg-start">{{'team.byrondesc' | translate}}
          </p>

          <a class="home-section-6-box1-btn" class="btn" target="_blank" href="https://www.linkedin.com/in/j-bayron-hern%C3%A1ndez-l%C3%B3pez-6178a223a">LINKEDIN</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-end home-section-6-box2">
          <div class="d-flex flex-column align-items-center  position-relative home-section-6-box2-img ">
             <img src="../../../assets/img/team/bayron.png" alt="Byron Hernandez">
          </div>
      </div>
    </div>
  </div>
</div>


    <!-- NUMERO 2 -->
    <div class="swiper-slide">
      <div class="mx-0 w-100 home-section-6">
        <div class="row home-section-6-container position-relative">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start home-section-6-box1">
          <div class="d-flex flex-column justify-content-center justify-content-lg-start">
            <h4 class="home-section-6-box1-h4 text-center text-lg-start">{{'team.rank' | translate}}</h4>
            <h2 class="home-section-6-box1-h2 text-center text-lg-start">Danny <br class="d-none d-lg-block">Ramirez</h2>
            <h6 class="text-center text-lg-start">Project Manager</h6>
            <p class="text-center text-lg-start">{{'team.dannydesc' | translate}}
            </p>

            <a class="home-section-6-box1-btn" class="btn" target="_blank" href="https://www.linkedin.com/in/danny-ramirez-636890161/">LINKEDIN</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-end home-section-6-box2">
            <div class="d-flex flex-column align-items-center  position-relative home-section-6-box2-img ">
              <img src="../../../assets/img/team/danny.png" alt="Danny Ramirez">
            </div>
        </div>
      </div>
    </div>
    </div>

    <!-- NUMERO 3 -->
    <div class="swiper-slide">
      <div class="mx-0 w-100 home-section-6">
        <div class="row home-section-6-container position-relative">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start home-section-6-box1">
          <div class="d-flex flex-column justify-content-center justify-content-lg-start">
            <h4 class="home-section-6-box1-h4 text-center text-lg-start">{{'team.rank' | translate}}</h4>
            <h2 class="home-section-6-box1-h2 text-center text-lg-start">Kamila <br class="d-none d-lg-block">Florez</h2>
            <h6 class="text-center text-lg-start">{{'team.kamirank' | translate}}</h6>
            <p class="text-center text-lg-start">{{'team.kamidesc' | translate}}
            </p>

            <a class="home-section-6-box1-btn" class="btn" href="https://www.linkedin.com/in/maría-kamila-flórez-bernal-491281115">LINKEDIN</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-end home-section-6-box2">
            <div class="d-flex flex-column align-items-center  position-relative home-section-6-box2-img ">
              <img src="../../../assets/img/team/kamila.png" alt="Kamila Florez">
            </div>
        </div>
      </div>
    </div>
    </div>

     <!-- NUMERO 4 -->
     <div class="swiper-slide">
      <div class="mx-0 w-100 home-section-6">
        <div class="row home-section-6-container position-relative">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start home-section-6-box1">
          <div class="d-flex flex-column justify-content-center justify-content-lg-start">
            <h4 class="home-section-6-box1-h4 text-center text-lg-start">{{'team.rank' | translate}}</h4>
            <h2 class="home-section-6-box1-h2 text-center text-lg-start">Paula <br class="d-none d-lg-block">Medina</h2>
            <h6 class="text-center text-lg-start">CSO</h6>
            <p class="text-center text-lg-start">{{'team.pauladesc' | translate}}
            </p>

            <a class="home-section-6-box1-btn" class="btn" target="_blank" href="https://www.linkedin.com/in/paula-medina-38b131248">LINKEDIN</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-end home-section-6-box2">
            <div class="d-flex flex-column align-items-center  position-relative home-section-6-box2-img ">
              <img src="../../../assets/img/team/paula.png" alt="Paula Medina">
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
