<div class="swiper swiperTeam">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <!-- NUMERO 1 -->
      <div class="swiper-slide">
        <app-item-slider-team rank1="{{'team.rank' | translate}}" rank2="CEO" name1="bayron" name2="Hernandez"
          desc="{{'team.byrondesc' | translate}}"
          link="https://www.linkedin.com/in/j-bayron-hern%C3%A1ndez-l%C3%B3pez-6178a223a"></app-item-slider-team>
      </div>
      <div class="swiper-slide">
        <app-item-slider-team rank1="{{'team.rank' | translate}}" rank2="Project Manager" name1="danny" name2="Ramirez"
          desc="{{'team.dannydesc' | translate}}" link="https://www.linkedin.com/in/danny-ramirez-636890161/">
        </app-item-slider-team>
      </div>
      <div class="swiper-slide">
        <app-item-slider-team rank1="{{'team.rank' | translate}}" rank2="{{'team.kamirank' | translate}}" name1="kamila"
          name2="Florez" desc="{{'team.kamidesc' | translate}}"
          link="https://www.linkedin.com/in/maría-kamila-flórez-bernal-491281115"></app-item-slider-team>
      </div>
      <div class="swiper-slide">
        <app-item-slider-team rank1="{{'team.rank' | translate}}" rank2="CSO" name1="paula" name2="Medina"
          desc="{{'team.pauladesc' | translate}}"
          link="https://www.linkedin.com/in/paula-medina-38b131248"></app-item-slider-team>
      </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
