<div class="more">
  <h2 class="text-center">{{'blog.more-blogs' | translate}}</h2>
  <div class="more-blogs">
    <app-blog-item
      img="1"
      alt="{{'blog.component.item1.alt' | translate}}"
      btn1="{{'blog.component.item1.btn1' | translate}}"
      btn2="{{'blog.component.item1.btn2' | translate}}"
      desc="{{'blog.component.item1.desc' | translate}}"
      date="{{'blog.component.item1.date' | translate}}"
    ></app-blog-item>
    <app-blog-item
      img="2"
      alt="{{'blog.component.item1.alt' | translate}}"
      btn1="{{'blog.component.item1.btn1' | translate}}"
      btn2="{{'blog.component.item1.btn2' | translate}}"
      desc="{{'blog.component.item1.desc' | translate}}"
      date="{{'blog.component.item1.date' | translate}}"
    ></app-blog-item>
    <app-blog-item
      img="3"
      alt="{{'blog.component.item1.alt' | translate}}"
      btn1="{{'blog.component.item1.btn1' | translate}}"
      btn2="{{'blog.component.item1.btn2' | translate}}"
      desc="{{'blog.component.item1.desc' | translate}}"
      date="{{'blog.component.item1.date' | translate}}"
    ></app-blog-item>
  </div>
</div>
