@import "../../../../styles.scss";

.more {
  padding: 3rem 0 4rem;
  h2 {
    @extend %titleh4;
    color: #1f1730;

  }
  &-blogs {
    margin-top: 4rem !important;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 1.2rem;
    @extend %maxWidth;
    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, auto);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, auto);
    }
  }
}
