
<div class="blog">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <app-top-menu></app-top-menu>
    <div class="blog-section1">
      <h2><li>{{'blog.principal.title' | translate}}</li></h2>
      <div class="container">
        <div *ngFor="let blog of blogs$ | async">
          <img [src]="blog.poster" />
          <h3>{{ blog.title }}</h3>
          <p>Released on {{ blog._createdAt }}</p>
        </div>
      </div>
      <div class="blog-section1-container row position-relative">
        <div
          class="col-12 col-lg-6 blog-section1-box1 d-flex justify-content-center"
        >
          <app-postlasted
            bg="bg1"
            img="go"
            alt="Go"
            btn1="{{'development' | translate}}"
            btn2="Backend"
            btn3="Go"
            title="{{'development' | translate}}"
            desc="{{'blog.principal.posted.a1.desc' | translate}}"
            date="{{'blog.principal.posted.a1.date' | translate}}"
          ></app-postlasted>
        </div>
        <div
          class="col-12 col-lg-6 blog-section1-box2 d-flex justify-content-center"
        >
          <app-postlasted
            bg="bg2"
            img="computer"
            alt="Computer"
            btn1="Python"
            title="{{'blog.principal.posted.a2.title' | translate}}"
            desc="{{'blog.principal.posted.a2.desc' | translate}}"
            date="{{'blog.principal.posted.a2.date' | translate}}"

          ></app-postlasted>
        </div>
      </div>
      <div class="blog-section1-bottom"></div>
    </div>
    <div class="blog-section2">
      <div class="blog-section2-bg">
        <app-blog-item
          img="1"
          alt="Computer"
          btn1="Python"
          btn2="Backend"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
        <app-blog-item
          img="2"
          alt="Computer"
          btn1="Ideas"
          btn2="{{'news' | translate}}"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
        <app-blog-item
          img="3"
          alt="Computer"
          btn1="Podcast"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
        <app-blog-item
          img="1"
          alt="Computer"
          btn1="Python"
          btn2="Backend"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
        <app-blog-item
          img="2"
          alt="Computer"
          btn1="Python"
          btn2="Backend"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
        <app-blog-item
          img="3"
          alt="Computer"
          btn1="Python"
          btn2="Backend"
          desc="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinenim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate vel"
          date="{{'blog.principal.posted.a1.date' | translate}}"
        ></app-blog-item>
      </div>

      <div class="blog-section2-bottom d-flex justify-content-center align-items-center">
        <a href="#" class="active">{{'blog.newones' | translate}}</a>
        <a href="#">{{'blog.newones' | translate}}</a>
      </div>
    </div>
  </main>
</div>
